<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Cadastro pessoa</h1>
        <form th:object="${pessoa}" th:action="@{/mvc/pessoa/salvar}" 
              method="post">
            <div>
                <label>Nome</label>
                <input type="text" th:field="*{nome}" />
                <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">
                </div>
            </div>
            <div>
                <label>Data nascimento</label>
                <input type="text" th:field="*{dtNascimento}" />
                <div th:if="${#fields.hasErrors('dtNascimento')}" th:errors="*{dtNascimento}">
                </div>
            </div>
            <div>
                <label>E-mail</label>
                <input type="email" th:field="*{email}" />
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                </div>
            </div>
            <div>
                <label>Telefone</label>
                <input type="text" th:field="*{telefone}" />
                <div th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}">
                </div>
            </div>
            <div>
                <label>Genero</label>
                <input type="radio" value="0" th:field="*{sexo}" />
                <label>Feminino</label>
                <input type="radio" value="1" th:field="*{sexo}" />
                <label>Masculino</label>
            </div>
            <div>
                <label>Interesses</label>
                <input type="checkbox" value="A" th:field="*{interesses}" /> 
                <label>Interesse A</label>
                <input type="checkbox" value="B" th:field="*{interesses}" /> 
                <label>Interesse B</label>
                <input type="checkbox" value="C" th:field="*{interesses}" /> 
                <label>Interesse C</label>
            </div>
            <button type="submit">Salvar</button>
        </form>
    </body>
</html>
