<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div th:if="${pessoa != null}">
            <h1>Dados preenchidos</h1>
            <div th:text="${pessoa.nome}"></div>
            <div th:text="${pessoa.email}"></div>
            <div th:text="${pessoa.dtNascimento}"></div>
            <div th:text="${pessoa.telefone}"></div>
            <div th:text="${pessoa.sexo}"></div>
            <div th:if="${pessoa.interesses != null}">
                <ul th:each="interesse : ${pessoa.interesses}">
                    <li th:text="${interesse}"></li>
                </ul>
            </div>
        </div>
        <div th:if="${pessoa == null}">
            <h1>Acesso inválido</h1>
        </div>
    </body>
</html>
